body {
    background-image: url(https://media.istockphoto.com/id/157197158/photo/train-station-tunnel.jpg?s=612x612&w=0&k=20&c=esR0qlGW38_FNRghbgc7WdpxDuXg73pnLJG1GTsazZ4=);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    font-weight: bold;
    text-align: center;
    color: rgb(11, 120, 142);
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
}


button {
    border: none;
    padding: 10px 0px 10px 0px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}


#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}